/* Small Screen */
.container {
margin: 1rem;
}

.AddMovieForm {
display: flex;
flex-direction: column;
text-align: center;
}

.AddMovieForm__left {
margin-bottom: 1rem;
}

.AddMovieForm__label {
    color: #64748b;
    margin-bottom: 0.5rem;
}

.AddMovieForm__input{
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.AddMovieForm__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.AddMovieForm__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.AddMovieForm__title {
color: #4361ee;
margin-bottom: 1rem;
font-size: 2.44rem;
text-align: start;
justify-content: start;
}

.AddMovieForm__button {
padding: 0.8rem 2rem;
border: none;
border-radius: 10px;
background-color: #4361ee;
color: #fff;
width: 100%;
border: 0;
border-collapse: collapse;
}

/* Medium Screen */
@media (min-width: 768px) {
/*
    * Nothing TODO Here.
    * We dont change style AddMovieForm. 
    */
}

/* Large Screen */
@media (min-width: 992px) {
.container {
    max-width: 1000px;
    margin: 3rem auto;
}

.AddMovieForm {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.AddMovieForm__left {
    flex-basis: 50%;
}

.AddMovieForm__right {
    flex-basis: 40%;
}
}
